Interpreter/Interpreter/.vs/*
Interpreter/Interpreter/x64/*
!*/*.exe
Interpreter/Interpreter/*.vcxproj
Interpreter/Interpreter/*.filters
Interpreter/Interpreter/*.user
Interpreter/Interpreter/*.sln

Diamon Scripts/*.mon